/* ---- Animations ---- */
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-50%) translateX(-50%) scale(0.7);
    top:60%;
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) translateX(-50%);
  }
}
@keyframes pop-out {
  0% {
    opacity: 1;
    transform: translateY(-50%) translateX(-50%) ;
  }
  100% {
    opacity: 0;
    transform: translateY(0%) translateX(-50%) scale(0.4);
  }
}

@keyframes fadeleft {
  0% {
    opacity: 0;
    transform: translateX(-1em) ;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shimmer{
  0% {
    opacity: 1;
    transform:scale(1);
  }
  100% {
    transform:scale(2);
    opacity:0;
  }
}





  html,body{ 
     width:100%;
     height:100%;
     max-height:100%;
     background:#111;
     font-size:16px;
     font-family:"Tahoma";
     overflow:hidden;
   }
   
   html{
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   }
   
   body{
     position:relative;
     top:0;
     left:0;
     margin:0;
     padding:0;
   }
   
   #canvas{
     width:41px;
     height:30px;
     background-color:red;
     display:none;
   }
   
   
   /* ---- particles.js container ---- */
   
   #particles-js{
     width: 100%;
     height: 100%;
     position:absolute;
     top:0;
     left:0;
     background-color: #351b43;
     background-image: url('');
     background-size: cover;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     
   }


  
  #frontHeader{
    font-size:6em;
    z-index:1;
    position:absolute;
    top:50%;
    left:50%;
    color:white;
    text-align:center;
    transform: translateY(-50%) translateX(-50%);
    animation: pop-in 0.7s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
    animation-delay:0.5s;
    opacity:0;
    transition: 0.5s 0s ease-out;
  }
    #frontHeader.fadeOut{
      animation: pop-out 0.7s ease-out forwards;
    }

    #start{
      margin-top:0.3em;
      padding:0.5em;
      border-radius:0.5em;
      background-color: #24764C;
      font-size:0.3em;
      cursor:pointer;
      font-weight:bold;
    }

    #content .item h2{
      margin-top:0;
    }

    #content .item #demo{
      width:auto;
      padding:1em;
      border-radius:1em;
      background-color: #24764C;
      cursor:pointer;
      margin-left:10%;
      font-weight:bold;
      font-size:1.5em;
    }

#contentContainer{
  height:100%;
  width:100%;
  overflow-y:scroll;
  position:absolute;
  top:0;
  left:0;
  opacity:0;
  visibility:hidden;
  background-color:#351b43;
  z-index:10;
  transition: 0.5s 0s ease-in;
}
  #line{
    height:70vh;
    position:fixed;
    left:90%;
    top:15%;
    width:6px;
    background-color:white;
    opacity:0;
    visibility:hidden;
    z-index:11;
    transition: 0.5s ease-in;
  }

  .node{
    position:absolute;
    left:-12px;
    width:30px;
    height:30px;
    border-radius:100%;
    background-color:#351b43;
    border: 6px solid white;
    box-sizing:border-box;
    transition: 0.5s linear;
    cursor:pointer;
    z-index:20;
  }

  .node:nth-last-child(2){
    border: 6px solid #24764C;
  }
  .node:nth-last-child(2).nodeActive{
    background-color:#24764C;
  }

  .shimmer{
    position:absolute;
    left:-12px;
    width:30px;
    height:30px;
    border-radius:100%;
    opacity:0;
    box-shadow: 3px 3px 30px #A442D9, -3px -3px 30px #A442D9;
  }
  .shimmer:nth-last-child(1){
    box-shadow: 3px 3px 30px #4EDE94, -3px -3px 30px #4EDE94;
  }



  .node.nodeActive{
    background-color:white;
  }
  .shimmer.nodeActive{
    animation: shimmer 0.5s ease-out forwards;
  }

  #content{
    width:100%;
    min-height:100%; 
  }

    #contentContainer.fadeIn, #line.fadeIn{
      opacity:1;
    }
    #content svg{
      width:20%;
      height:auto;
      float:left;
    }
    #content img{
      width:20%;
      height:auto;
      float:left;
    }
    /* */
    #content .item{
      text-align:justify;
      color:white;
      font-size: 1.5em;
      margin:30vh 0;
      padding:10%;
      width:100%;
      height:auto;
      box-sizing:border-box;
      display: flex;
      display: -webkit-flex; 
      opacity:0;
      transform: translateX(-1em);
      -webkit-align-items: center; 
      align-items: center;
      transition: 0.8s 0s ease-out;
    }
    #content .item .images{
      display: flex;
      display: -webkit-flex;   
      margin-top:2em;
      width:100%; 
      justify-content: space-between;  
    }
    #content .item .images div{
      width:20%;
      text-align:center;
    }
    #content .item .images div img{
      width:100%;
      margin-bottom:1em;
    }
   
      #content .item .wimage{
        float:left;
        width:50%;
        padding-left:10%;
        
      }
      #content .item #demoHolder{
        width:60%;
      }

      #content .item div{
        width:80%;
        display:block;
      }
      #content .item h2{
        width:100%;
        display:block;
      }

      #content .item.active{
        opacity:1;
        transform:none;
        
      }

    #content .iterim{
      position:relative;
      color:white;
      width:auto;
      display:block;
      font-size: 1.5em;
    }
    #content .iterim h2{
      display:inline-block;
    }
      
    .st0{
      fill:none;
      stroke:#FFFFFF;
      stroke-width:7;
      stroke-miterlimit:10;
    }
    .st1{
      fill:#FFFFFF;
    }

  #demoContainer{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    color:white;
    visibility:hidden;
    z-index:20;
    display:flex;
    flex-direction: column;    
  }



  #demoMain{
    width:100%;
    flex:1;
  }
  #demoMenu{
    width:100%;
    float:left;
    background-color: #351B43;
    padding: 1em 5em 0em 5em;
    box-sizing:border-box;
    color:white;
  }
    #demoMenu div{
      float:right;
      box-sizing:border-box;
      padding-left:2em;
    }
    #demoMenu div h2{
      cursor:pointer;
    }
    #demoMenu div h2{

    }
  #demoContent{
    width:100%;
    height:100%;
    background-color: white; 
    color:#222222;
    box-sizing:border-box;
    padding: 5em 5em;
  }
  .triggers{
    width:30%;
    height:100%;
    box-sizing:border-box;
    display:flex;
    flex-direction: column;
    justify-content: space-between;  
    float:left;
  }
  .triggers:first-child{
    -webkit-align-items: left; 
    align-items: left;  
  }
  .triggers:last-child{
    -webkit-align-items: right; 
    align-items: right;  
  }

  .triggers .triggerContainer{
    border:none;
    width:100%;
    height:100%;
  }
  .triggers .triggerContainer div{
    width:100%;
    height:0;
    padding-top: 75%; 
    position:absolute;
    left:0;
    bottom:-1px;
    box-sizing:content-box;
    content:"";
    border:none;
  }

  .triggers .triggerContainer div img{
    width:100%;
    height:100%;
    position:absolute;
    bottom:0;
    left:0;
    
    
  }
  .triggers .triggerContainer  h2{
    position:initial;
    transform:none;
    padding-top:0.5em;
    color:#222222 ;
  }

    .triggers:last-child div{
      margin-left:auto;
    }
    .triggers div{
      height:25%;
      width:20vh;
      position:relative;
      /*border: 0.65em dashed #dddddd;*/
      text-align:center;
      box-sizing:border-box;
      color: #dddddd;
      
    }
      .triggers div h2{
        position:relative;
        top:50%;
        margin:0;
        transform: translateY(-50%);
      }
  #createTrigger{
    width:40%;
    height:100%;
    max-height:100%;
    box-sizing:border-box;
    float:left;
    display: flex;
    flex-flow: column;
  }
  input:focus {
    outline:none;
  }
  :focus {
    outline: none;
    border: 0;
  }

    #createTrigger #triggerconsole{
      width:100%;
      box-sizing:border-box;  
      box-shadow: 0 0px 5px 0 rgba(0,0,0,.14), 0 0px 10px 0 rgba(0,0,0,.12), 0 0px 4px -1px rgba(0,0,0,.2);
      margin-bottom:1em;
    }
    #createTrigger  input{
      color:#222222; 
      background:none;
      border:0;
      font-size:1.5em;
      font-weight:bold;
      padding-left:0.5em;
      padding-top:0.5em;
      padding-bottom:0.5em;
      width:100%;
    }
    #createTrigger input::placeholder{
      color:#dddddd;
    }
    #createTrigger #triggerconsole md-progress-linear{
      
      height:1em;
    }
      #createTrigger #triggerconsole md-progress-linear .md-bar{
        background-color:#A442D9;
        height:1em;
      }
      #createTrigger #triggerconsole md-progress-linear .md-container{
        background-color:#C22614;
        height:1em;
      }
      #createTrigger #imgCaptures #deleteImg:hover{
        opacity:1;
      }
      #createTrigger #imgCaptures #deleteImg{
        height:100%;
        width:100%;
        padding:0;
        position:absolute;
        top:0;
        left:0;
        background-color: rgba(0,0,0,0.2);
        color:white;
        opacity:0;
        z-index:2;
        text-align:right;
        padding:0.2em;
        box-sizing:border-box;
        font-size:2em;
        font-weight:bold;
        line-height:100%;
        cursor:pointer;
      }

      #createTrigger #triggerconsole video{
        width:100%;
        
        box-sizing:border-box;
      }
      #imgCaptures{
        overflow-y:scroll;
        width:100%;
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        overflow-y: auto;
        height: 0px;
        padding: 0em;
        box-sizing:border-box;
        display:grid;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap:0.5em;
        grid-row-gap:0.5em;
        grid-auto-flow:row;
        align-content:start;
        border: 2px solid #dddddd;
        border-width: 1px;
        box-shadow: inset 0 0 10px #dddddd;
        padding:0.5em;
      }
      #imgCaptures div {
        width:100%;
        height:0;
        padding-top: 75%; 
        position:relative;
        box-sizing:content-box;
        content:"";
      }


      #imgCaptures div img{
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
      }

    #createTrigger #triggercontrols{
      margin-top:1em;
      width:100%;
      display:flex;
      justify-content: space-between;
      align-items: flex-end;
    }
      #createTrigger #triggercontrols #record{
        background-color:#C22614;
        position:relative;
        cursor:pointer;
        font-size:1.5em;
        height:2.875em;
        width:2.875em;
        padding:0;
      }
      #createTrigger #triggercontrols #record span{
        position:absolute;
        background-color:white;
        top:50%;
        left:50%;   
        height:1.3em;
        width:1.3em;
        transform: translateX(-50%) translateY(-50%);
      }
      #createTrigger #triggercontrols div{
        /*background-color:#24764C;*/
        color:white;
        border-radius:1em;
        text-align:center;
        padding: 0em 2em;
        /*cursor: pointer;*/
      }
  
  #demoConnect{
    width:100%;
    height:100%;
    position:relative;
    background-color: white; 
    color:#222222;
    display:none;
  }
    #demoConnect #triggersConnect{
      width:100%;
      height:20%;
      box-sizing:border-box;
      padding:0% 5em 0em 5em;
      margin-top:5em;
      position:absolute;
      top:0;
      left:0;
      display:grid;
      z-index:20;
      justify-content: space-between;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-column-gap:2em;
      grid-row-gap:0.5em;
      grid-auto-flow:row;
      
    }
      #demoConnect #triggersConnect div{
        width:100%;
        padding-top:90%;
        height:0;
        position:relative;
        border: 0.65em solid #351B43;
        text-align:center;
        box-sizing:border-box;
        color: #dddddd;        
      }

      #demoConnect #triggersConnect div div{
        width:100%;
        height:0;
        padding-top: 75%; 
        position:absolute;
        left:0px;
        bottom:-1px;
        box-sizing:content-box;
        content:"";
        border:none;
      }
    
      #demoConnect #triggersConnect div div img{
        width:100%;
        height:100%;
        position:absolute;
        bottom:0;
        left:0; 
      }

      #demoConnect #triggersConnect div  h2{
        position:absolute;
        top:0;
        margin:0;
        transform:none;
        padding-top:0.5em;
        color:#222222;
      }
      #demoConnect #triggersConnect div .triggerConnector{
        width:15%;
        padding-top:15%;
        background-color:white;
        border: 0.65em solid #dddddd;
        position:absolute;
        left:50%;
        transform: translateX(-50%);
        top:120%;
        border-radius:100%;
      }

      #demoConnect #actiontriggerpaths{
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        stroke: #dddddd;
        fill: none;
        stroke-width: 0.65em;
        stroke-linecap: round;
        transform-origin: 0px 0px 0px;
        cursor:pointer;
      }
      #triggersConnect h2{
        width:100%;
      }

      #demoConnect #actionsConnect{
        width:100%;
        height:20%;
        box-sizing:border-box;
        padding:0% 5em 0em 5em;
        margin-bottom:5em;
        position:absolute;
        bottom:0;
        left:0;
        display:grid;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap:2em;
        grid-row-gap:0.5em;
        grid-auto-flow:row; 
      }
      #demoConnect #actionsConnect .actionContainer{
        position:relative;
        width:100%;
        height:0;
        padding-top:100%;
        background-image: url("../images/led.png");
        background-size:cover;
      }
      #demoConnect #actionsConnect .actionContainer .triggerConnector{
        width:15%;
        padding-top:15%;
        background-color:white;
        border: 0.65em solid #dddddd;
        position:absolute;
        left:50%;
        transform: translateX(-50%);
        top:-25%;
        border-radius:100%;
      }

      #demoContainer #demoRun{
        background-color:white;
        float:left;
        width:100%;
        height:100%;
        color:#222222;
        display:none;
      }
      #demoRun #demoRunVisuals{
        width:100%;
        height:80%;
        padding:2em;
        padding-top:10vh;
        box-sizing:border-box;
        color:#222222;
      }
        #demoRun #demoRunVisuals #demoRunVideo{
          width:30%;
          float:left;
          padding:1em;
          background-color:#dddddd;
          border:0.65em solid #351B43;
          border-radius:1em;
          box-sizing:border-box;
          
        }
          #demoRun #demoRunVisuals #demoRunVideo video{
            width:100%;
          }
        #demoRun #demoRunVisuals #demoRunResult{
          width:60%;
          float:right;
          box-sizing:border-box;
          position:relative;
        }

          #demoRun #demoRunVisuals #demoRunResult #resultSymbol{
            padding-top:45%;
            width:45%;
            height:0;
            background-image: url("../images/led.png");
            background-size:cover;
            background-color:yellow;
            float:left;
          }
          #demoRun #demoRunVisuals #demoRunResult #resultVideo{
            width:45%;
            float:right;
            padding:1em;
            background-color:#dddddd;
            border:0.65em solid #351B43;
            border-radius:1em;
            box-sizing:border-box;
          }

          #demoRun #demoRunVisuals #demoRunVideo div{
            width:100%;
            padding-top:75%;
          }
          #demoRun #demoRunVisuals #demoRunVideo canvas{
            width:164px;
            height:123px;
            display:none;
          }
          #tempcanvas{
            background-color:red;
          }

            #demoRun #demoRunVisuals #demoRunResult #resultVideo div{
              width:100%;
              padding-top: 75%;
              height:0;
              position:relative;
            }
            #demoRun #demoRunVisuals #demoRunResult #resultVideo img{
                width:100%;
                height:100%;
                position:absolute;
                top:0em;
            }
            #demoRun #demoRunVisuals #demoRunResult md-progress-linear{
              width:100%;
              height:1em;
            }
            #demoRun #demoRunVisuals #demoRunResult md-progress-linear .md-bar{
              background-color:#A442D9;
              height:1em;
            }
            #demoRun #demoRunVisuals #demoRunResult md-progress-linear .md-container{
              background-color:#C22614;
              height:1em;
            }
        

      #demoRun #demoRunControls{
        width:100%;
        height:10%;
        padding:2em;
        box-sizing:border-box;
      }

        #demoRun #demoRunControls #modelProperties{
          width:30%;
          height:100%;
          float:left;
        }
        #demoRun #demoRunControls #modelProperties h2:first-child{
          margin-top:0;
        }

        #demoRun #demoRunControls #trainModel{
          float:right;
          background-color:#24764C;
          color:white;
          border-radius:2em;
          text-align:center;
          padding: 0.5em 3em;
          margin-left:1em;
        }
        #demoRun #demoRunControls #runModel{
          float:right;
          background-color:#24764C;
          color:white;
          border-radius:2em;
          text-align:center;
          padding: 0.5em 3em;
        }
